<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Simple Example Auction/eCommerce node.js app.
      </p>
    </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>I</strong>tem Title here</h2>
      <p>This is the description of an item for sale. I can say anthhing I want here to describe it. I can use words like brown, red, big, tall, delicious, wonderful, exciting, ect. This is a good way for the website to make money!<p>
    </div>
    <div class="col-md-3">
      <h2><strong>I</strong>tem Title here</h2>
      <p>This is the description of an item for sale. I can say anthhing I want here to describe it. I can use words like brown, red, big, tall, delicious, wonderful, exciting, ect. This is a good way for the website to make money!<p>
      </div>
    <div class="col-md-3">
      <h2><strong>I</strong>tem Title here</h2>
      <p>This is the description of an item for sale. I can say anthhing I want here to describe it. I can use words like brown, red, big, tall, delicious, wonderful, exciting, ect. This is a good way for the website to make money!<p>
    </div>
    <div class="col-md-3">
      <h2><strong>I</strong>tem Title here</h2>
      <p>This is the description of an item for sale. I can say anthhing I want here to describe it. I can use words like brown, red, big, tall, delicious, wonderful, exciting, ect. This is a good way for the website to make money!<p>
    </div>
  </div>
  <div class="well">
    <h2>OpenAuction Docs</h2>
    <p> They will go here</p>
<ul class="text-left">
<li>here are some points!</li>
<li>here are some points!</li>
<li>here are some points!</li>
<li>here are some points!</li>
<li>here are some points!</li>
      </ul>
      </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>The openAuction Team.
</section>
